<template>
  <div>
    <services />
    <news />
    <team/>
    <footerr />
  </div>
</template>

<script>
import News from "../components/News.vue";
import Footerr from '../components/Footerr.vue';
import Team from '../components/Team.vue';
import Services from '../components/Services.vue';


export default {
  name: "Home",

  components: {
    News,
    Footerr,
    Team,
    Services,
  
  },
    
};
    
</script>
