<template>
<body>
  <tablas/>
    <footer>
      <footerr />
    </footer>
</body>
</template>

<script>
import Footerr from '../components/Footerr.vue'

import Tablas from '../components/Tablas.vue'
export default {
  
  components: { 
    Tablas,
    Footerr, 
    },

}
</script>

<style>

</style>