<template>
    <body class="tj">
    <buscar/>
    <footerr/>
    </body>
    

</template>

<script>
import Buscar from '../components/Buscar.vue'
import Footerr from '../components/Footerr.vue'
export default {

    components: { 
        Buscar,
        Footerr 
    },

}
</script>

<style>
.tj{
    padding-top: 15px;
    background-color:blue lighten-5;
}
</style>