<template>
    <seccion id="busqueda" class='text-center'>
    <v-card
    class="mx-auto form"
    max-width="400"

    color="deep-orange" darken-1 
    >
    
    <v-img style="border-radius:200px;"
        src="https://us.123rf.com/450wm/conceptw/conceptw1506/conceptw150600029/40859977-ipv6-protocolo-de-internet-versi%C3%B3n-6.jpg?ver=6"        
    >
        <v-card-title></v-card-title>
    </v-img>
    
<!--Inputs de texto-->
    
    <v-card-text
    color="blue">
            <p class="text-h4 text--primary">
            Consulta
            </p>
    <v-form >
    
        <v-text-field 
            v-model="search"
            clearable   
            flat
            solo-inverted
            label='Modelo'
            hide-details
            prepend-inner-icon="mdi-magnify"
            
        ></v-text-field>
        &nbsp;
        <v-text-field 
            label='Marca'
            v-model="search"
            clearable   
            flat
            solo-inverted
            hide-details
            prepend-inner-icon="mdi-magnify"
        ></v-text-field>
    </v-form>
    </v-card-text>
    <v-card-actions class="btn">
        <v-btn class='bton' color="primary"
                dark v-bind="attrs" v-on="on">
            Buscar
        </v-btn>
        </v-card-actions>
        </v-card>
    
    </seccion>
</template>

<script>
export default {

}
</script>

<style>
.text-h4{
    text-align: center;
    border-color: white;

}
.form{
    border-radius: 100px;
    
}

.btn{
    justify-content: center;
    }


</style>