<template>

    <footer id="pie1">
        <hr style="margin: 15;">
        <div class="team-contacts">
            <div class="col1">
                <img 
                    src="https://imaster.academy/pluginfile.php/1/core_admin/logo/0x200/1631257141/logo-login12.png"
                    alt="">

            </div>
            <div class="col2">
                <h3> Henry Molina</h3>
                    <a href="https://wa.me/573004202664">
                    <img class="img" src="../assets/whatsapp.png" alt=""></a>
                &nbsp;
                <img class="img"
                    src="../assets/linked.png">
                &nbsp;
                <img class="img" src="../assets/twitter.png">
            </div>

            <div class="col2">
                <h3>Alejandro Sanchez</h3>
                <a href="https://wa.me/573014855382">
                <img class="img" src="../assets/whatsapp.png" alt=""></a>
                &nbsp;
                <img class="img"
                    src="../assets/linked.png">
                &nbsp;
                <img class="img" src="../assets/twitter.png">
            </div>
            <div class="footer_2"> <h1>Grupo 7</h1>
            <img class="img2"  src="../assets/team.png" alt="">
            </div>
        </div>
        <div class="footer_2">

            © Todos los Derechos Reservados 2021.
        </div>
</footer>

</template>

<script>
export default {}
</script>

<style>
#pie1{
    background-color: rgb(171, 208, 230);
    margin-top: 20px;
    padding: 0px;
    width: 100%;
    height: 10%;
    box-sizing: border-box;
    font-family:inherit;
    color: black;
    text-align:justify;
    flex-wrap: wrap;
}

.team-contacts {
    width: 100%;
    margin-top:10px ;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: space-between;
    padding-bottom: 5%;
}
.mintic{
    padding-right: 10px;
}

.img{
    width: 16px;
    height: 16px;
    background-color: rgb(171, 208, 230);
    
}
.img2{
    padding-top: 15px;
    align-content: center;
    width: 3cm;
    height: 3cm;
}


.col1{
    padding-top: 30px;
    
}
.col2{
    width: 30vh;
    margin-top: 20px;
    display:inline-block;
}

h3{
    font-size: 20px;
}
.footer_2{
    text-align:center;
}

</style>