<template>
  <section id="news">
    <h2 style="text-align: center">Noticias</h2>
    <v-container>
      <v-row>
        <v-col cols="12" md="6">
          <div class="cards">
            <v-row>
              <v-col cols="4" align-self="center">
                <v-img
                  src="https://prensa.lacnic.net/news/wp-content/uploads/2019/03/ipv6-despliegue-colombia-2019-marzo-300x146.png"
                  aspect-ratio="1.7"
                  class="imgNews"
                ></v-img>
              </v-col>
              <v-col cols="8">
                <h3>Colombia pone foco en el despliegue de IPv6</h3>
                <hr />
                <p class="textoCard">
                  Colombia se ha tomado muy en serio el agotamiento de las
                  direcciones IPv4 y el despliegue de IPv6 en la región. El
                  gobierno de ese país está impulsando un plan nacional para que
                  todas las entidades públicas ajusten sus infraestructuras de
                  Tecnologías de la Información a IPv6.
                </p>
                <a
                  href="https://prensa.lacnic.net/news/ipv6/colombia-pone-foco-en-el-despliegue-de-ipv6"
                  class="botonNews">Ver más...</a
                >
              </v-col>
            </v-row>
          </div>
        </v-col>
        <v-col cols="12" md="6">
          <div class="cards">
            <v-row>
              <v-col cols="4" align-self="center">
                <v-img
                  src="https://trends.inycom.es/wp-content/uploads/2017/02/por-que-migrar-ipv6-778x381.jpg"
                  aspect-ratio="1.7"
                  class="imgNews"
                ></v-img>
              </v-col>
              <v-col cols="8">
                <h3>A adoptar el IPv6 cuanto antes</h3>
                <hr />
                <p class="textoCard">
                  El protocolo de internet con cuatro casillas para sus
                  direcciones –IPv4– se va a quedar corto en poco tiempo y
                  deberá empezar a ser reemplazado por el de seis casillas
                  –IPv6–, que va a quedar vigente para siempre. ¿Esto qué
                  significa? Todo aparato que se conecte a internet usa una
                  dirección IP.
                </p>
                <a
                  href="https://www.eltiempo.com/opinion/columnistas/guillermo-santos-calderon/a-adoptar-el-ipv6-cuanto-antes-columna-de-guillermo-santos-calderon-578233"
                  class="botonNews">Ver más...</a
                >
              </v-col>
            </v-row>
          </div>
        </v-col>
        <v-col cols="12" md="6">
          <div class="cards">
            <v-row>
              <v-col cols="4" align-self="center">
                <v-img
                  src="https://www.enter.co/wp-content/uploads/2019/05/iStock-861165648-768x432.jpg"
                  aspect-ratio="1.7"
                  class="imgNews"
                ></v-img>
              </v-col>
              <v-col cols="8">
                <h3>Todo lo que necesitas saber sobre el IP versión 6</h3>
                <hr />
                <p class="textoCard">
                  El 31 de diciembre de este año 2019 vence el plazo para que
                  todas las entidades públicas del orden nacional en Colombia
                  ajusten sus infraestructuras de Tecnologías de la Información
                  a la versión 6 del protocolo de internet (IP versión 6 o
                  simplemente IPv6). El Ministerio de Tecnologías de la
                  Información y las Comunicaciones...
                </p>
                <a href="https://trends.inycom.es/por-que-deberias-migrar-ipv6/"
                  class="botonNews">Ver más...</a
                >
              </v-col>
            </v-row>
          </div>
        </v-col>
        <v-col cols="12" md="6">
          <div class="cards">
            <v-row>
              <v-col cols="4" align-self="center">
                <v-img
                  src="https://www.elfinancierocr.com/resizer/55HLz-SrTxwppZnhfVxuu3_aw_Q=/1440x0/filters:format(jpg):quality(70)/cloudfront-us-east-1.images.arcpublishing.com/gruponacion/EZ2ZJ7III5EFFCPU2SZ7GBJ3SY.jpg"
                  aspect-ratio="1.7"
                  class="imgNews"
                ></v-img>
              </v-col>
              <v-col cols="8">
                <h3>
                  Costa Rica se quedó rezagada en la adopción del protocolo IPv6
                  según Google y Akamai
                </h3>
                <hr />
                <p class="textoCard">
                  Internet es una red con un alto dinamismo en su desarrollo
                  tecnológico, más allá de la casi infinita y constante
                  generación de contenidos. Uno de los cambios es del protocolo
                  o estándar que se utiliza en las direcciones IP con que se
                  conecta e identifica cada dispositivo o red local, donde se
                  está pasando de la versión IPv4 a la IPv6.
                </p>
                <a
                  href="https://www.elfinancierocr.com/tecnologia/costa-rica-se-quedo-rezagada-en-la-adopcion-del/XL45YU33XBGXPBNUKOFQECHPWQ/story/"
                  class="botonNews">Ver más...</a
                >
              </v-col>
            </v-row>
          </div>
        </v-col>
      </v-row>
    </v-container>
  </section>
</template>

<script>
export default {};
</script>

<style>
.imgCard {
  margin-top: auto;
  margin-bottom: auto;
}
.cards {
  height: 100%;
  background-color: orangered;
  padding: 10px;
  border-radius: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.23);
}

.cards:hover{
    box-shadow: 0 8px 12px 0 rgba(92, 38, 38, 0.7), 0 10px 30px 0 rgba(173, 51, 51, 0.40);
}
.textoCard {
  margin-top: 10px;
  background-color: aliceblue;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.imgNews{
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}
.botonNews{
    text-decoration: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: right;
    background-color: white;
    padding: 3px;
    border-radius: 30px;
}

.botonNews:hover{
    background-color: aquamarine;
    border-radius: 30px;
}
</style>