<template>
  <div>
    <section id="services" class="services">
      <h2 class="service-title">Estos son nuestros servicios</h2>
      <div class="service-container">
        <h3 class="service-container-title">Consultar Equipos</h3>
        <img
          src="../assets/imagenes/consultar_equipos.svg"
          alt="Consultar equipos"
          class="service-container-img"
        />
        <br /><br />
        <p class="service-description">
          Consulta si tu equipo maneja compatibilidad con IPv6, debes conocer su
          marca y modelo para encontrarlo dentro de nuestra lista.
        </p>
      </div>
      <div class="service-container">
        <h3 class="service-container-title">Listar Equipos</h3>
        <img
          src="../assets/imagenes/listar_equipos.svg"
          alt="Listar equipos"
          class="service-container-img"
        />
        <br /><br />
        <p class="service-description">
          Realiza una lista de todos tus equipos que cumplan los requisitos de
          compatibilidad con el protocolo IPv6.
        </p>
      </div>
      <div class="service-container">
        <h3 class="service-container-title">Actualizar Equipos</h3>
        <img
          src="../assets/imagenes/actualizar_equipos.svg"
          alt="Actualizar equipos"
          class="service-container-img"
        />
        <br /><br />
        <p class="service-description">
          Actualiza la información sobre tu equipo o modifícala de acuerdo a los
          estándares suministrados por el soporte de tu equipo.
        </p>
      </div>
    </section>
  </div>
</template>

<script>
export default {};
</script>

<style>
.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 2%;
  margin-top: 2%;
}

.service-title {
  width: 100%;
  text-align: center;
  margin-bottom: 2%;
}

.service-container-title {
  margin-top: 3%;
}

.service-container {
  background-color: orangered;
  margin-top: 2px;
  width: 28%;
  height: 500px;
  min-width: 252px;
  text-align: center;
  box-shadow: 0px 0px 15px;
  border-radius: 30px;
}

.service-container:hover {
  box-shadow: 0 8px 12px 0 rgba(92, 38, 38, 0.7),
    0 10px 30px 0 rgba(173, 51, 51, 0.4);
}

.service-container-img {
  background-color: aliceblue;
  height: 50%;
  width: 70%;
  margin-top: 3%;
  padding: 1%;
  border-radius: 20%;
  box-shadow: 1px 2px 20px 1px;
  border: 1px double;
}

.service-description {
  background-color: aliceblue;
  margin: 2%;
  border-radius: 5%;
  padding: 2.5%;
  font-family: sans-serif;
  font-size: 1.1rem;
  border: 1px dotted;
  box-shadow: 1px 1px 20px;
  overflow: auto;
}
</style>