<template>
  <section id="Tabla">
    <v-container fluid>
      <v-data-iterator :items="items" :items-per-page.sync="itemsPerPage">
        <template v-slot:header>
          <v-toolbar class="mb-2" color="deep-orange" darken-1 dark flat>
            <v-row justify="float">
              <v-dialog v-model="dialog2" persistent max-width="600px">
                <template v-slot:activator="{ on, attrs }">
                  <v-btn text color="white" v-bind="attrs" v-on="on">
                    Agregar
                  </v-btn>
                </template>
                <v-card style="background-color: #cfd8dc">
                  <v-card-title>
                    <span class="text-h5">Información Equipo</span>
                  </v-card-title>
                  <v-card-text>
                    <v-container>
                      <v-row>
                        <v-col cols="12" sm="6">
                          <v-text-field
                            label="Modelo*"
                            v-model="equipo.modelo"
                          ></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="6">
                          <v-text-field
                            label="Linea*"
                            v-model="equipo.linea"
                          ></v-text-field>
                        </v-col>
                        <v-col cols="12*" sm="6">
                          <v-text-field
                            label="Marca*"
                            v-model="equipo.marca"
                          ></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="6">
                          <v-text-field
                            label="Cantidad de Puertos"
                            v-model="equipo.cantidadPuertos"
                          ></v-text-field>
                        </v-col>
                      </v-row>
                    </v-container>
                    <small>*Campos requeridos</small>
                  </v-card-text>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="black" text @click="dialog2 = false">
                      Cerrar
                    </v-btn>
                    <v-btn color="black" text @click="registrarEquipo">
                      Guardar
                    </v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
            </v-row>
            <v-toolbar-title>Lista de Equipos</v-toolbar-title>
          </v-toolbar>
        </template>

        <template v-slot:default="props">
          <v-row>
            <v-col
              v-for="item in props.items"
              :key="item.modelo"
              cols="12"
              sm="6"
              md="4"
              lg="3"
            >
              <v-card>
                
                <v-card-actions>
                  <v-row justify="center">
                    <v-dialog
                      v-model="dialog"
                      fullscreen
                      hide-overlay
                      transition="dialog-bottom-transition"
                    >
                      <template v-slot:activator="{ on, attrs }">
                        <v-btn
                          color="primary"
                          dark
                          v-bind="attrs"
                          v-on="on"
                          @click="activarEdicion(item._id)"
                        >
                          Ver
                        </v-btn>
                        <v-btn
                          color="red"
                          dark
                          v-on:click="eliminar(item._id)"
                        >
                          Borrar
                        </v-btn>
                      </template>
                      <v-card>
                        <v-toolbar dark color="primary">
                          <v-btn icon dark @click="dialog = false">
                            <v-icon>mdi-close</v-icon>
                          </v-btn>
                          <v-toolbar-title>{{
                            equipoEdit.modelo
                          }}</v-toolbar-title>
                          <v-spacer></v-spacer>
                          <v-toolbar-items>
                            <v-btn dark text @click="editar()">
                              Actualizar
                            </v-btn>
                          </v-toolbar-items>
                        </v-toolbar>
                        <div style="padding-top: 40px">
                          <v-card class="mx-auto" max-width="500" outlined>
                            <div class="tarjeta_inf">
                              <v-list-item three-line>
                                <v-list-item-content>
                                  <v-list-item-title class="text-h5 mb-1">
                                    Nombre Equipo
                                  </v-list-item-title>
                                  <v-text-field
                                    v-model="equipoEdit.modelo"
                                  ></v-text-field>
                                  <v-list-item>
                                    <v-text-field
                                      label="Marca"
                                      v-model="equipoEdit.marca"
                                    ></v-text-field>
                                  </v-list-item>
                                  <v-list-item>
                                    <v-text-field
                                      label="Linea"
                                      v-model="equipoEdit.linea"
                                    ></v-text-field>
                                  </v-list-item>
                                  <v-list-item>
                                    <v-text-field
                                      label="Cantidad de Puertos"
                                      v-model="equipoEdit.cantidadPuertos"
                                    ></v-text-field>
                                  </v-list-item>
                                </v-list-item-content>
                                    
                                <v-list-item-avatar>
                                  <img
                                    class="imgSW"
                                    src="https://bogota.solutekla.com/photo/1/cisco/switch/catalyst_2960x_24_gige_poe_370w_de_cisco/catalyst_2960x_24_gige_poe_370w_de_cisco_0001"
                                    alt=""
                                  />
                                </v-list-item-avatar>
                              </v-list-item>
                            </div>
                          </v-card>
                        </div>
                      </v-card>
                    </v-dialog>
                  </v-row>
                </v-card-actions>

                <v-card-title class="subheading font-weight-bold">
                  {{ item.name }}
                </v-card-title>

                <v-divider></v-divider>

                <v-list dense>
                  <v-list-item>
                    <v-list-item-content>Linea:</v-list-item-content>
                    <v-list-item-content class="align-end">
                      {{ item.linea }}
                    </v-list-item-content>
                  </v-list-item>

                  <v-list-item>
                    <v-list-item-content>Modelo:</v-list-item-content>
                    <v-list-item-content class="align-end">
                      {{ item.modelo }}
                    </v-list-item-content>
                  </v-list-item>
                  <v-list-item>
                    <v-list-item-content>Marca:</v-list-item-content>
                    <v-list-item-content class="align-end">
                      {{ item.marca }}
                    </v-list-item-content>
                  </v-list-item>
                  <v-list-item>
                    <v-list-item-content
                      >Cantidad de puertos:</v-list-item-content
                    >
                    <v-list-item-content class="align-end">
                      {{ item.cantidadPuertos }}
                    </v-list-item-content>
                  </v-list-item>
                </v-list>
              </v-card>
            </v-col>
          </v-row>
        </template>
      </v-data-iterator>
    </v-container>
  </section>
</template>



<script>
import store from '../store/index.js'
export default {
  components: {},
  data() {
    return {
      dialog: false,
      dialog2: false,
      items: [],
      itemsPerPage: 3,
      equipo: {
        modelo: "",
        linea: "",
        marca: "",
        cantidadPuertos: "",
      },
      equipoEdit: {},
    };
  },
  methods: {
    vistarequipos() {
      this.axios
        .get("/equipo", { headers: { "Content-Type": "application/json" } })
        .then((response) => {
          this.items = response.data;
          console.log(this.items);
        })
        .catch((e) => {
          console.log("Error" + e);
        });
    },
    registrarEquipo() {
      this.dialog2 = false;
      this.axios
        .post("/equipo", this.equipo)
        .then((response) => {
          this.vistarequipos();
        })
        .catch((e) => {
          console.log("Error" + e);
        });
    },

    activarEdicion(id) {
      this.axios
        .get("/equipo/" + id)
        .then((response) => {
          this.equipoEdit = response.data;
        })
        .catch((e) => {
          console.log("Error" + e);
        });
    },

    editar(){
      this.dialog = false;
      console.log(this.equipoEdit._id)
      this.axios
      .put("/equipo",this.equipoEdit)
      .then(response=>{
        this.vistarequipos()
      })
      .catch((e) => {
          console.log("Error" + e);
        });
    },
    eliminar(id){
      console.log(id)
      let obj = id;
      store.dispatch('eliminarE',obj).then(()=>{
        store.dispatch("vistarequipos")
      })
    }
    
  },
  created() {
    this.vistarequipos();
  },
  computed: {
    equipo: () => {
      return store.state.equipo;
    },
  }
};
</script>

<style>
.tarjeta_inf {
  background-color: orange;
}
.ver {
  justify-items: right;
}
.imgSW {
  width: 5cm;
}
.agregar {
  background-color: gray;
}
</style>
