<template>
    <section id="team" class="team">
            <h2 class="member-container-title">Miembros del equipo</h2>
            <div class="member-container">
                <img class="member-img" 
                src="@/assets/Alejandro_Sanchez.jpg" alt="Alejandro Sanchez"/>
                <h3>Alejandro Sanchez</h3>
                <p class="member-description">
                    Él tiene 25 años.
                    <br>
                    Sus pasatiempos favoritos son jugar videojuegos y salir a caminar.
                    <br>
                    Él está estudiando para ser ingeniero de sistemas en la Universidad Piloto de Colombia y también es
                    estudiante de la Universidad Tecnológica de Pereira.
                </p>
            </div>
            <div class="member-container">
                <img class="member-img" 
                    src="@/assets/Henry_Molina.jpg"
                    alt="Henry Molina"/>
                <h3>Henry  Molina</h3>
                <p class="member-description">
                    Él tiene 29 años.
                    <br>
                    Sus pasatiempos favoritos son jugar videojuegos y la lectura.
                    <br>
                    Él está desarrollando sus estudios universitarios en la Universidad del Tolima y también es
                    estudiante
                    de la Universidad Tecnológica de Pereira.
                </p>
            </div>
            
        </section>

</template>

<script>

export default { 
    
}
</script>

<style>
.team {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 100%; 
    text-align: center; 
    margin-bottom: 1%;
}

.member-container-title {
    width: 100%;
    margin: 20px;
}
.member-container {
    background-color: orangered;
    margin-top: 2px;
    margin-bottom: 2%;
    width: 22%;
    height: 600px;
    min-width: 250px;
    text-align: center; 
    box-shadow: 0px 0px 15px;
    border-radius: 30px;
    
}

.member-img {
    height: 40%;
    width: 85%;
    margin-top: 4%;
    margin-bottom: 2%;
    border-radius: 10%;
    box-shadow: 1px 2px 20px 1px;
}

.member-description {
    background-color: aliceblue;
    margin: 3%;
    border-radius: 30px;
    padding: 2.5%;
    font-family: sans-serif;
    font-size: 1.1rem;
    border: 1px dotted;
    box-shadow: 1px 1px 20px;
    overflow: auto;
    text-align: center;
}

</style>