<template>
  <v-app>
    <v-app-bar
      app
      color="primary"
      dark
    >
      <div class="d-flex align-center">
        <v-img
          alt="Vuetify Logo"
          class="shrink mr-2"
          contain
          :src= "require('./assets/router.png')"
          transition="scale-transition"
          width="70"
        />
        <h1 class="mr-2">Consultas soporte IPV6</h1>
        
      </div>

      <v-spacer></v-spacer>

      <v-btn text @click="Inicio" >
        <span class="mr-2">Inicio</span>
      </v-btn>
      <v-btn text color="white" @click="Lista">
        <span class="mr-2">Lista</span>
      </v-btn>
      <v-btn text color="white" @click="Buscar">
        <span class="mr-2">Buscar</span>
      </v-btn>
    </v-app-bar>

    <v-main style="background-color: #40C4FF;">
      <router-view/>
    </v-main>
  </v-app>
</template>

<script>

export default {
  name: 'App',

    data:()=>{
        return
    },
    methods:{
        Buscar(){
            this.$router.push('/vbuscar')
        },
        Lista(){
            this.$router.push('/lista')
        },
        Inicio(){
            this.$router.push('/home')
        }
    }

}
</script>
